<div class="navbar bg-slate-500 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">daisyUI</a>
  </div>
 
<div class=" h-14 w-1/6 flex justify-between items-center px-8">
 <div class="avatar avatar-placeholder mr-2">
  <div class="bg-neutral text-neutral-content w-12 rounded-full">
    <span>KA</span>
  </div>
</div>
<div>

 <h1 class="font-black text-xl">
      Kevin <span class="font-normal">Alpizar</span>
    </h1>
</div>

  </div>
</div>


